.post-message-markdown.vditor-reset blockquote {
  border: 1px solid #dadada;
  padding: 10px 65px;
  background:
    url(/template/qshpan/image/icon_quote_s.gif) no-repeat 20px 6px,
    url(/template/qshpan/image/icon_quote_e.gif) no-repeat calc(100% - 20px) calc(100% - 6px);
  background-color: #f9f9f9;
}

.post-message-markdown.vditor-reset img {
  max-width: min(100%, 800px);
}

.post-message-markdown.vditor-reset iframe {
  min-width: 50%;
}