.rich-text-content {
  text-align: justify;
  text-wrap: pretty;
  overflow-wrap: break-word;
}

.rich-text-content a {
  color: #3A71F2;
}

.rich-text-theme-dark a {
  color: #90caf9;
}

.rich-text-content img,
.rich-text-content video {
  max-width: 100%;
}

.rich-text-content blockquote {
  background-color: rgb(241, 243, 250);
  padding: 12px 15px;
  border-left: rgb(59, 115, 235) 2px solid;
  margin: 0;
  margin-bottom: 12px;
}