.rich-text-content {
  /* text-align: justify;
  text-wrap: pretty; */
  overflow-wrap: break-word;
}

.rich-text-content a {
  color: #3A71F2;
}

.post-signature a {
  color: #666666;
  text-decoration: none;
}

.rich-text-theme-dark a,
.rich-text-theme-dark .vditor-reset a {
  color: #90caf9;
}

.post-signature .rich-text-theme-dark a {
  color: #dddddd;
}

.rich-text-content img,
.rich-text-content video {
  max-width: 100%;
}

.rich-text-content blockquote,
.rich-text-content .vditor-reset blockquote {
  background-color: rgb(241, 243, 250);
  padding: 12px 15px;
  border-left: rgb(59, 115, 235) 2px solid;
  margin: 0;
  margin-bottom: 12px;
}

.rich-text-content .vditor-reset iframe.iframe__video {
  display: block;
  margin: 0.75em 0;
  width: 80%;
  aspect-ratio: 16/9;
  min-width: auto;
  min-height: initial;
}

.rich-text-theme-dark blockquote,
.rich-text-theme-dark .vditor-reset blockquote {
  background-color: #454e5e;
}